body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Header{
    display: flex;
    background-color: #1f2937;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo{
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.links {
    display: flex;
    color: #f9faf8;
    font-size: 18px;
    justify-content: space-evenly;
    gap:2vw
}

.Sign-up-top{
    display: flex;
    padding: 10vw;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    color: #f9faf8;
    background-color: #1f2937;
}

.Description.Bold{
    font-size: 48px;
    font-weight: bolder;
}

.Top-para{
    font-size: 18px;
    color: #f9faf8;
}

.Description {
    flex: 2;
    width: 45vw;
}

.Description-image {
    display: flex;
    flex: 3;
    width: 45vw;
    align-items: center;
    justify-content: center;

}

.info{
    display: flex;
    padding:0 20vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
    margin-bottom: 10vw;
}

.Title{
    font-size: 36px ;
    font-weight: bolder;
    margin: 20px;
}

.project-pic {
    
    border: 4px;
    border-style: solid;
    border-color: blue;
    border-radius: 25px;
    width: 200px;
    height: 200 px;
}

.Cards {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.project-info { 
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.quotes{
    display: flex;
    background-color: #e5e7eb;
    
    padding:5vw 25vw;
    flex-direction: column;
}
p{
    color: #1f2937;
}

h5{
    align-self: right;
    text-align: right;
}

.Sign-up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    margin: 5vh 15vw;
    padding: 5vh 5vw;
    border-radius: 25px;
    gap: 10vw;

}


.Sign-up-text {
    flex: 2;
}

.Sign-up-button{
    flex: 1;
}

.click {
    width: 10vw;
    height: 5vh;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    border-width: 5px;
    font-size: 20px;
    font-weight: bold;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}